body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login__form ,.signup__form{
    background-color: rgb(219, 219, 255);
    border: 4px solid rgb(82, 73, 133);
    position: absolute;
    padding: 20px;
    left: 500px;
    top: 170px;
}
#login-button , #signup-button{
  border:none;
  border-radius: 20px;
  padding: 10px 20px;
  color: rgb(25, 59, 131);
  font-weight: bold;
}
